<div class="container">
    <div class="row">
        <div class="col text-center mb-3 mt-3">
            <img style="height: 480px;width: 900px; border-radius: 10px; " src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.avsite.gr%2Fforum%2Fdata%2Fattachment-files%2F2021%2F03%2F324929_7538ee1b47219e0adacea1c1d8a0dcce.gif&f=1&nofb=1&ipt=fae9f46550c06980e8446b535dba9831fb2856db6be2525d1c23daeccb5c3524&ipo=images" alt="">
        </div>
        <!-- <div class="col-6">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.dribbble.com%2Fusers%2F547471%2Fscreenshots%2F3063720%2Fnot_found.gif&f=1&nofb=1&ipt=25b0cb095e9946ee3dbf0814dbc2d3520d09d62818e4107cfc5fe9edf5991e60&ipo=images" alt="">
        </div> -->
    </div>
</div>